@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');	




body{
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-family: 'Karla', sans-serif;
}

.img-banner{

   
}

.image-image{
	margin-top: 20px;
}


.c1{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
 display: inline-block;

}

.c1:hover{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.border{
display:inline-block;
margin:0;
width:160px;
height:3px;
background: #0db7aF;
margin-top: 60px;
margin-bottom:60px;
}

.cards-conatiner{
	 font-size:0;
}


.img-1{
	margin-top: 20px;
}

.img{
	filter: grey;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .8s ease-in-out;  
    display: inline-block;
}

.img:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
}